# Python caches
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments
.venv/
venv/
env/

# System files
.DS_Store
Thumbs.db

#Results(data outputs)
!results/
!baseline_results/
!current_results/

# Python distribution artifacts
*.egg-info/
dist/
build/