name: Fast CI

on:
  pull_request:
    paths:
      - "**/*.md"
      - ".github/**"
      - "pyproject.toml"
      - ".gitignore"

jobs:
  quick:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - run: pip install -e .
      - run: nlp-tool --help
